@model Web.TYS.Areas.Monitoreo.Models.EmbarqueModel

@section Styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/jqGrid/ui.jqgrid.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jqgrid.extension.css")" />

}
@using (Ajax.BeginForm("AgregarEmbarqueFluvial", "Monitoreo", null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "modalcontent", OnComplete = "OnCompleteTransaction(xhr, status)" }, new { @id="frmagregarembarque",  @class = "form-horizontal" }))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Embarque fluvial</h4>
        <small class="font-bold">Seleccionar los datos necesarios para el registro.</small>
    </div>
    <div class="modal-body">
        @*@Html.ValidationSummary(false, "", new { @class = "alert alert-danger validation-summary-errors", @role = "alert", @id = "ValidationSummaryAgregarEmbarque" })*@
        <div class="row">
                <div class="col-md-12">
                   @* @Html.AntiForgeryToken()*@
                    

                    <div class="form-group">
                        <label class=" col-md-3 control-label">Vehículo Fluvial:</label>
                        <div class="col-md-6">
                            @Html.DropDownListFor(m => m.idtransporte, (SelectList)ViewData["ListaVehiculoFluvial"], "[Vehículo]", new { @class = "chosen-select form-control input-sm", @required = "true" })
                        </div>
                       
                    </div>
                    <div class="form-group">
                        <label class=" col-md-3 control-label">Conocimiento Embarque:</label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.conocimientoembarque, new { @placeholder = "Conocimiento de Embarque", @class = "form-control", @required = "true" })
                            @Html.ValidationMessageFor(m => m.conocimientoembarque, "", new { @class = "text-danger" })
                            
                        </div>
                    </div>
                        <div class="form-group">
                            <label class=" col-md-3 control-label">Puerto:</label>
                            <div class="col-md-6">
                                @Html.DropDownListFor(m => m.idpuerto, (SelectList)ViewData["ListaPuerto"], "[Puerto]", new { @class = "chosen-select form-control input-sm", @required = "true" })
                            </div>
                        </div>
                    <div class="form-group">
                        
                        <label class="col-sm-3 control-label">F. Inicio Carga:</label>
                        <div class="col-md-4">
                            <div class="input-group date" id='dtpfechacomp'>
                                <div class="input-group date">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    @Html.TextBoxFor(model => model.fechainiciocarga, "{0:dd/MM/yyyy}", new { @placeholder = "Fecha Entrega", @class = "form-control", @required = "true" })
                                </div>
                            </div>
                        </div>
                        <label class=" col-sm-2 control-label">Hora (24hrs):</label>
                        <div class="col-sm-3">
                            @Html.TextBoxFor(model => model.horainiciocarga, new { @placeholder = "00:00hrs", @class = "form-control", @required = "true" })
                        </div>
                    </div>
                    </div>
            
           
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-md-offset-6 col-md-3">
            <button  type="submit" class="btn btn-block btn-primary">Guardar</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-block btn-inverse" data-dismiss="modal">Cerrar</button>
        </div>
        
    </div>
}