@model Web.TYS.Areas.Monitoreo.Models.EmbarqueModel

@section Styles{
    
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/jsTree/style.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/iCheck/custom.css")" />


}

@section scripts {
    <script src="@Url.Content("~/Scripts/plugins/jsTree/jstree.min.js")"></script>
    <script src="@Url.Content("~/Scripts/plugins/iCheck/icheck.min.js")"></script>
}

@using (Ajax.BeginForm("AsignarManifiesto", "Monitoreo", null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "modalcontent", OnComplete = "OnCompleteTransaction(xhr, status)" }, new { @class = "form-horizontal" }))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        @*<i class="fa fa-users fa-4x"></i>*@
        <h4 class="modal-title">Asignar Manifiestos</h4>
        <small class="font-bold">Selecciona las OTs o Manifiestos que deseas Asignar.</small>
        @Html.HiddenFor(x => x.idembarque)
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <section class="widget widget-chart-changes">
                    <div class="widget-body">
                        <div class="chart bg-success btlr btrr">
                            <p class="chart-value"><i class="fa fa-caret-up"></i> @Model.conocimientoembarque</p>
                            <p class="chart-value-change">@Model.transporte</p>
                          
                        </div>
                    </div>


                    <div class="col-md-4">
                        <h4 class="chart-title"><span class="fw-normal">Manifiestos</span></h4>
                        <p class="deemphasize">Sin Asignar</p>
                    </div>
                    <div class="col-md-offset-2 col-md-4">
                        <h4 class="chart-title"><span class="fw-normal">Manifiestos</span></h4>
                        <p class="deemphasize">Asignados</p>
                    </div>
                        <div class="form-group">
                                <div class="col-md-4">
                                    <div id="jstree_di">
                                        <div id="jstree_di"></div>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <button id="agregar" type="button" class="btn btn-block bg-success ">Asignar >></button>
                                    <button id="quitar" type="button" class="btn btn-block bg-success "><< Desasignar</button>
                                </div>
                                <div class="col-md-3">
                                    <div id="jstree_nod">
                                        <div id="jstree_nod"></div>

                                    </div>
                                </div>
                        </div>
                </section>
            </div>
        </div>


            </div>
    <div class="modal-footer">
        <div class="col-md-offset-6 col-md-3">
            <button id="btnGuardarAsignacion" type="button" class="btn btn-block btn-primary">  Guardar</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-inverse btn-block" data-dismiss="modal"> Cerrar</button>
        </div>
    </div>
}
