@model Web.TYS.Areas.Seguridad.Models.Roles.InsertarModificarRolModel
@section Styles{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/sweetalert/sweetalert.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/jqGrid/ui.jqgrid.css")" />
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css")" />
}

@section scripts {
    <script src="@Url.Content("~/Scripts/plugins/sweetalert/sweetalert.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/validate/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/jqGrid/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/jqGrid/i18n/grid.locale-es.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jsview/seguridad/seguridad.usuarios.listarusuarios.js")" type="text/javascript"></script>


}
<form id="frmUsuarioNuevo" role="form" method="post"  class=" form-horizontal">
    <div class="panel-primary">
        <div class="panel-heading">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class=" panel-title">
                Nuevo Rol
            </h4>
        </div>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <p>
                @Html.Label("Nombre:")
                @Html.TextBoxFor(model => model.rol_str_descrip, new { @class = "form-control", @required = "true", placeholder = "Nombre" })
            </p>
            <p>
                (*)
                @Html.Label("Descripción:")
                @Html.TextBoxFor(model => model.rol_str_alias, new { @class = "form-control", @required = "true", placeholder = "Descripción" })
               
            </p>
            @*<p>
                (*)
                @Html.Label("Usuario BD:")
                @Html.TextBoxFor(model => model.rol_str_usuario, new { @class = "form-control", @required = "true", placeholder = "Usuario BD" })
            </p>*@
          
            <p>
                <div class="form-group">
                    <label class="col-sm-3 control-label">
                        Accesos: <br />
                    </label>

                    <div class="col-sm-7">
                            <label>@Html.CheckBoxFor(model => model.rol_bit_activo) Rol está activo. </label>
                        <div class="clearfix"></div>
                      
                    </div>
                </div>
            </p>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
                    <button id="btnRegistrar" data-url="@Url.Action("Insertar", "Roles")"  type="button" class="btn btn-primary">Registrar</button>
                </div>
</div>
    </div>
</form>

