@model Web.TYS.Models.Account.ForgotPasswordModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TYS | SignIn</title>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/normalize.css")" />

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Fonts/font-awesome/css/font-awesome.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/animate.css")" />
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.css")" />*@

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap.extension.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Site.css")" />


</head>

<body>

    <header>
        <div style="position: absolute;" class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-header">
                <img style="max-width:200px;  margin-top: 1px;" src="@Url.Content("~/Images/logonpt.jpg")">

            </div>
        </div>
    </header>

    <br /><br /><br /><br /><br />

    <div class="passwordBox animated fadeInDown">
        <div class="row">

            <div class="col-md-12">
                <div class="ibox-content">

                    <h2 class="font-bold">Se te olvidó tu contraseña</h2>

                    <p>
                        Se le ha enviado un correo con su contraseña.
                    </p>

                    <div class="row">

                        <div class="col-lg-12">

                                @using (Html.BeginForm("Index", "Account", FormMethod.Post, new {id = "formsubmit", @class="m-t", @role="form" }))
                                {

                                    @*<div class="form-group">
                                        @Html.TextBoxFor(model => model.Email, new { @placeholder = "Correo Electronico", @required = "", @class = "form-control"})
                                    </div>*@

                                    <button type="submit" class="btn btn-primary block full-width m-b">Volver</button>
                                }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="pull-right">

        </div>
        <div>
            <strong>TYS</strong> &copy; 2016
        </div>
    </div>

    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-2.1.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jsview/account/account.signin.js")" type="text/javascript"></script>

</body>

</html>
