@model Web.TYS.Areas.Seguimiento.Models.Seguimiento.CargaModel

@{
    ViewBag.Title = "Planificar OTs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/jqGrid/ui.jqgrid.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jqgrid.extension.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/datapicker/datepicker3.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/jasny/jasny-bootstrap.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/sweetalert/sweetalert.css")" />
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css")" />
    <link rel="stylesheet" type="text/css" media="screen" href="@Url.Content("~/Content/plugins/touchspin/jquery.bootstrap-touchspin.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/dataTables/datatables.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/datatables-checkboxes/dataTables.checkboxes.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/chosen/chosen.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/dualListBox/bootstrap-duallistbox.css")" />
}
@section scripts
{
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jsview/seguimiento/seguimiento.planificacion.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/jqGrid/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/jqGrid/i18n/grid.locale-es.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/base.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/datapicker/bootstrap-datepicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/jasny/jasny-bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/sweetalert/sweetalert.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/touchspin/jquery.bootstrap-touchspin.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/dataTables/datatables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/datatables-checkboxes/dataTables.checkboxes.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/chosen/chosen.jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/plugins/dualListBox/jquery.bootstrap-duallistbox.js")" type="text/javascript"></script>
}
<script type="text/javascript">
        var fcnUrlControlGrid = function (str)
        {
            var urlprincipal = '@Url.Action("GetControlDetailsGrid", "Seguimiento", new { area = "Seguimiento" })';
            return urlprincipal + "?control=" + str;
        };
</script>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Planificar Carga</h2>
        <ol class="breadcrumb">
            <li>
                <a><strong>Listado de Ordenes Por Planificar</strong></a>
            </li>
            <li>
                <a href="@Url.Action("NuevaOrdenTrabajo", "Seguimiento")">Crear OT</a>
            </li>

        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">


    <div class="row ">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5><i class="fa fa-info-circle"></i>  Filtro de búsqueda</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>          
                <div class="ibox-content">
                    <div class="form-horizontal">
                        <div class="form-group">

                            <label class=" col-md-2 control-label">Estación Origen:</label>
                            <div class="col-md-2">
                                @Html.DropDownListFor(m => m.idestacion, (SelectList)ViewData["ListaEstacion"], "[ESTACION ORIGEN]", new { @class = "form-control input-sm", @required = "true" })
                            </div>
                            <label class="col-md-2 control-label">Destino :</label>
                            <div class="col-md-2">
                                @Html.DropDownListFor(m => m.iddestino, (SelectList)ViewData["ListaUbigeo"], "[DESTINO]", new { @class = "chosen-select form-control input-sm", @required = "true" })
                            </div>
                            <label class="col-md-2 control-label">Cliente  :</label>
                            <div class="col-md-2">
                                @Html.DropDownListFor(m => m.idcliente, (SelectList)ViewData["ListaClientes"], "[CLIENTE]", new { @class = "chosen-select form-control input-sm", @required = "true" })
                            </div>

                        </div>
                        <div class="form-group">
                        
                            <label class="col-md-2 control-label">Moto Transporte  :</label>
                            <div class="col-md-2">
                                @Html.DropDownListFor(m => m.idtipotransporte, (SelectList)ViewData["ListaTipoTransporte"], "[TIPO TRANSPORTE]", new { @class = "form-control input-sm", @required = "true" })
                            </div>
                            <div class="col-md-offset-6 col-md-2">
                                <button type="button" id='btnBuscar' class="btn  btn-line btn-block btn-sm btn-github"><i class="fa fa-search"></i> Buscar </button>
                            </div>
                          
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
@using (Ajax.BeginForm("PlanificarCargaOp", "Seguimiento", null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "modalcontent", OnComplete = "OnCompleteTransaction(xhr, status)" }, new { @class = "form-horizontal" }))
{
        <div class="row ">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5><i class="fa fa-info-circle"></i>  Listado de Ordenes de Transporte</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>

                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-horizontal">
                           
                            <div class="form-group">


                                    <label class="col-md-2 control-label">Tipo Operación  :</label>
                                    <div class="col-md-4">
                                        @Html.DropDownListFor(m => m.idtipooperacion, (SelectList)ViewData["ListaTipoOperacion"], "[Tipo Operación]", new { @class = "form-control input-sm" })
                                    </div>
                                <label class="col-md-2 control-label">Agencia  :</label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(m => m.idagencia, (SelectList)ViewData["ListaAgencia"], "[Agencia]", new { @class = "form-control input-sm" })
                                </div>

                            </div>
                            <div class="form-group">







                                <label class="col-md-2 control-label">Estación Destino  :</label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(m => m.idestaciondestino, (SelectList)ViewData["ListaEstacion"], "[Estacion]", new { @class = "form-control input-sm" })
                                </div>
                                <label class="col-md-2 control-label">Ruta  :</label>
                                <div class="col-md-4">
                                    @Html.DropDownListFor(m => m.idruta, (SelectList)ViewData["ListaRuta"], "[Ruta]", new { @class = "form-control input-sm"})
                                </div>

                            </div>
                            <div class="form-group">
                                <div class="col-md-3">
                                    <button type="button" id='btnAgregar' onclick="agregarorden()" class="btn  btn-line btn-block btn-sm btn-github"><i class="fa fa-folder"></i> Agregar OTs </button>
                                </div>
                            
                              

                                </div>
                                <div class="form-group">
                                    <div class="col-md-12 jqGrid_wrapper">
                                        <table id="gridordenes"
                                               data-dataurl="@Url.Action("GetListarPlanificarOrden", "Seguimiento")"
                                               data-editurl="@Url.Action("GridSaveTarifa", "Seguimiento")"></table>
                                        <div id="gridordenespager"></div>
                                    </div>
                                </div>
                 
                                 <div class="form-group">
                                     <div class="col-md-3">
                                         <button type="submit" id='btnPlanicar' class="btn  btn-line btn-block btn-sm btn-danger"><i class="fa fa-folder"></i> Planificar Carga</button>
                                     </div>
                                     <div class="col-md-3">
                                         <button type="button" id='btnPlanicarDirecto' class="btn  btn-line btn-block btn-sm btn-warning"><i class="fa fa-folder"></i> Asociar a Manifiesto</button>
                                     </div>

                                </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">Peso Total :</label>
                                <div class="col-md-1">
                                    <input type="text" id="txtpesototal" disabled class="form-control">
                                </div>
                                <label class="col-md-2 control-label">Bultos :</label>
                                <div class="col-md-1">
                                    <input type="text" id="txtbultos" disabled class="form-control">
                                </div>
                                <label class="col-md-2 control-label">Cantidad :</label>
                                <div class="col-md-1">
                                    <input type="text" id="txtcantidad" disabled class="form-control">
                                </div>
                                <label class="col-md-2 control-label">SubTotal :</label>
                                <div class="col-md-1">
                                    <input type="text" id="txtsubtotal" disabled class="form-control">
                                </div>

                            </div>
                                <div class="form-group">
                                    <div class="col-md-12 jqGrid_wrapper">
                                        <table id="gridordenesp"
                                               data-dataurl="@Url.Action("GetListarPlanificarOrdenAgregadas", "Seguimiento")"
                                               data-editurl="@Url.Action("GridSaveTarifa", "Seguimiento")"></table>
                                        <div id="gridordenesppager"></div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

}
</div>