@model Web.TYS.Areas.Seguimiento.Models.Seguimiento.ClienteModel

@section Styles {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/plugins/jqGrid/ui.jqgrid.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jqgrid.extension.css")" />
}
@section scripts
{

}
@using (Ajax.BeginForm("AgregarClienteModal", "Seguimiento", null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "modalcontent", OnComplete = "OnCompleteTransaction_NuevoCliente(xhr, status)" }, new { @class = "form-horizontal" }))
{
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
       
        <h4 class="modal-title">Agregar Cliente</h4>
        <small class="font-bold">Digitar los datos necesarios para el registro del nuevo cliente.</small>
    </div>
    <div class="modal-body">
        <div class="row">
            
            <div class="col-md-12">

                <div class="form-group">
                    <div class="col-md-11">
                        <label class="control-label">RUC :</label>
                        @Html.TextBoxFor(model => model.ruc, new { @minlength = "8", @maxlength = "11", @class = "form-control", @onkeypress = "return validateFloatKeyPress(this,event);", @required = "true" })

                        <label class="control-label">Razón Social / Nombre :</label>
                        @Html.TextBoxFor(model => model.razonsocial, new { @maxlength = "50", @class = "form-control", @required = "true" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-11">
                        <label class="control-label">Dirección Fiscal:</label>
                        @Html.TextBoxFor(model => model.direccion, new { @placeholder = "Dirección nueva", @maxlength = "100", @class = "form-control", @required = "true" })

                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-11">
                        <label class="control-label">Ubigeo :</label>
                        @Html.DropDownListFor(model => model.iddistrito, (SelectList)ViewData["listaubigeos"], "[Ubigeo]", new { @id = "ddlUbigeo", @class = "chosen-select form-control", @data_url = @Url.Action("JsonGetDatosDireccion", "Seguimiento") })
                    </div>
                </div>

           </div>
         </div>
           
     </div>
    <div class="modal-footer">
        <div class="col-md-offset-6 col-md-3">
            <button type="submit" class="btn btn-primary btn-block"> Guardar</button>
        </div>
        <div class="col-md-3">
            <button type="button" onclick="" class="btn btn-inverse btn-block" data-dismiss="modal">  Cancelar</button>
        </div>
    </div>
    @Html.HiddenFor(x=>x.pagocontado)
    @Html.HiddenFor(x =>x.idmonedalinea)
    
}